<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fragmentapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FragmentApp">
        <activity android:name=".firebase.login_act"></activity>
        <activity android:name=".firebase.home" />
        <activity android:name=".firebase.ImagesActivity" />
        <activity android:name=".firebase.ModelUpload" />
        <activity android:name=".firebase.RegA" />
        <activity android:name=".fragment_room.LoginActivitityLab5" />
        <activity android:name=".fragment_room.EditData" />
        <activity android:name=".fragment_room.RegisterActivityLab5" />
        <activity android:name=".fragment_room.MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>